/* Paragraphs */
[data-slate-editor] p {
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 48px;
}

[data-slate-editor] h2,
[data-slate-editor] h3,
[data-slate-editor] h4,
[data-slate-editor] h5,
[data-slate-editor] h6 {
	font-size: 18px;
	line-height: 1.1;
	font-weight: 500;
	margin: 48px 0 4px 0;
}
